{% extends "layout.html" %}
{% block content %}
<article class="media content-section dark-card">
    <div class="media-body">
        <div class="d-flex justify-content-center">
            <h1>About Me</h1>
        </div>
        <br>
        <img src="../static/images/me.jpg" class="rounded mx-auto d-block"></img>
        <br>
        <p class="article-content">Currently I am working at Ubisoft, as a junior Audio Designer.
            I have a passion for coding and am slowly diggin more and more into the technical side of things.
        </p>
    </div>
</article>
{% endblock content %}

 